*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trip-container{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}